@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Fraunces', serif; */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

a{
 all: unset;
 cursor: pointer;
}

ul{
    list-style: none;
}

:root{

    --prim-red:hsl(7, 99%, 70%);
    --prim-yellow: hsl(51, 100%, 49%);
    --prim-graphicdesign-text:hsl(167, 40%, 24%);
    --prim-photo-text: hsl(198, 62%, 26%);
    --prim-footer:hsl(168, 34%, 41%);

    --neu-dark-blue:hsl(212, 27%, 19%);
    --verydark-gray-blue: hsl(213, 9%, 39%);
    --dark-gray-blue:hsl(232, 10%, 55%);
    --gray-blue:hsl(210, 4%, 67%);
    --white:hsl(0, 0%, 100%);

}

html,body{
width: 100%;
height: 100%;
font-size: 1.125rem;
font-family:'Barlow', sans-serif;
}

.page1{
    width: 100%;
    height: 100vh;
    background: url(assets/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 2rem 0 2rem;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

nav ul li a{
    font-size: 1.2rem;
    color: var(--white);
}

nav ul li a:hover{
    text-decoration: line-through;
}

nav li:last-child a{
    color: black;
    background-color: var(--white);
    padding: 1.25rem 1.875rem;
    font-family: 'Fraunces', serif;
    border-radius: 40px;
    font-size: .9rem;
    transition: all ease .2s;
}

nav li:last-child a:hover{
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.page1 h1{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--white);
    text-align: center;
    margin-top: 6rem;
    letter-spacing: .5rem;
    font-size: 4rem;
}

.page1>img{
    position:absolute;
    top:52.5%;
    left:50%;
    transform:translate(-50%,-50%);
}


.box1,.box2{
    display: flex;
    width: 100%;
    height: 76vh;
 }


.tbox{
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding-inline: 11vw;
    gap: 2.5rem;
}
.tbox>*{
    width: 100%;
}

.tbox h2{
    font-family:  'Fraunces', serif;
    font-weight: 900;
    font-size: 2.2rem;
}
.tbox h6{
    font-family:  'Fraunces', serif;
    font-weight: 700;
   font-size: .8rem;
   cursor: pointer;
}

.lm{
    width: fit-content;
    cursor: pointer;
    transition: all ease .2s;
}

.tbox span{
    height: 8px;
    position: relative;
    top: -7px;
    border-radius: 2px;
    opacity: .5;
    background-color: var(--prim-yellow);
    display: block;
}
.lm:hover span{
    opacity: .7;
}

.ibox1{
    width: 50%;
    background: url(assets/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover;
}
.ibox2{
    width: 50%;
    background: url(assets/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
}

.tbox p{
    color: var(--dark-gray-blue);
    word-spacing: .2rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

.page3{
    display: flex;
    height: 76vh;
}

.page3>div{
        position: relative;
        width: 50%;
}

.lft{
    background: url(assets/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--prim-graphicdesign-text);
}

.rgt{
    background: url(assets/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--prim-photo-text);
}

.p3-cont {
    text-align: center;
    height: 35%;
    bottom: 0px;
    position: absolute;
    padding-inline: 8.5vw;
    
}

.p3-cont h3{
    margin-bottom: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.8rem;
}

.p3-cont p{
    line-height: 1.8rem;
}


.page4{

    width: 100%;
    display: flex;
    flex-direction: column;
}

.test{
    display: flex;
    margin-bottom: 5rem;

}
.text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 4rem;
    
}


.text-box img{
    border-radius: 50%;
    width: 25%;
    height: 22%;
    margin-block: 2rem;
}


.text-box p{
    text-align: center;
    color: var(--verydark-gray-blue);
    font-size: .9rem;
    line-height: 1.2rem;
    margin-bottom: 2rem;
}

.text-box h4{
    color: var(--neu-dark-blue);
    font-family: 'Fraunces';
    font-weight: 900;
    margin-bottom: .5rem;
}

.text-box h6{
    color: var(--gray-blue);
    margin-bottom: 4rem;
}

.page4 h3{
    font-family: 'Fraunces';
    color: var(--dark-gray-blue);
    letter-spacing: .2rem;
    word-spacing: .5rem;
    text-align: center;
    margin: 8rem 0 4rem 0;
}

.page5{
    display: flex;
    width: 100%;
}

.page5 img{
    width: 25%;
}

.page6{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#8ad2c4;
    color: hsl(169, 25%, 30%);
}

.page6 div:first-of-type{
    display: flex;
    gap: 4rem;
    margin: 2rem 0 4rem 0; 
}

.page6 div:first-of-type p:hover{
    transition: all ease .2s;
}

.page6 div:first-of-type p:hover{
    cursor: pointer;
    color: white;
}

.icons{
    display: flex;
    gap: 1.2rem;
    margin-bottom: 4rem;
    font-size: 1.2rem;
    
}
i{
    transition: all ease .2s;
}
.icons i:hover{
    color: white;
    cursor: pointer;
}

.page6 h1{
    font-family: 'Fraunces';
    margin-top: 4rem;
    font-weight: 900;
}

.hamburger{
    display: none;
}

@media screen and (max-width:1025px){
    .p3-cont{
        height: 35%;
        bottom: 50px;
    }
    .p3-cont h3{
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    .p3-cont p{
        /* font-size: 1rem; */
    }
    .rgt{
        background-size: 30rem 34rem;
    }
    .lft{
        background-size: 30rem 35rem;
    }
}

@media screen and (max-width:426px) {

    header nav{
        display: none;
    }

    header {
        padding: 1.5rem 1rem;
    }
    .hamburger{
        display: block;
    }

    .page1 h1{
        font-size: 2.2rem;
        letter-spacing: .3rem;
        margin-top: 2.5rem;
    }
    .page1{
        height: 80vh;
        background-size: 50rem 35rem;
    }
    .page1>img{
        scale: .8;
        top: 44%;
    }
    .box1,.box2{
        height: auto;
        flex-direction: column-reverse;
        width: 100%;
    }

    .ibox1,.ibox2{
        width: 100%;
        height: 50vh;
    }
    .ibox2{
        order: 1;
    }
    .lm{
        margin: auto;
    }
    .tbox{
        padding-inline: 1rem;
        height: 50vh;
        width: 100%;
        text-align: center;
        margin-block: 3rem;
        gap: 2rem;
    }
  
    
    .page3,.page4,.page5,.page6{
            display: none;
    }
    
}