@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Fraunces', serif; */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

a{
 all: unset;
 cursor: pointer;
}

ul{
    list-style: none;
}

:root{

    --prim-red:hsl(7, 99%, 70%);
    --prim-yellow: hsl(51, 100%, 49%);
    --prim-graphicdesign-text:hsl(167, 40%, 24%);
    --prim-photo-text: hsl(198, 62%, 26%);
    --prim-footer:hsl(168, 34%, 41%);

    --neu-dark-blue:hsl(212, 27%, 19%);
    --verydark-gray-blue: hsl(213, 9%, 39%);
    --dark-gray-blue:hsl(232, 10%, 55%);
    --gray-blue:hsl(210, 4%, 67%);
    --white:hsl(0, 0%, 100%);

}

html,body{
width: 100%;
height: 100%;
font-size: 1.125rem;
font-family:'Barlow', sans-serif;
}

.page1{
    width: 100%;
    height: 100vh;
    background: url(assets/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 2rem 0 2rem;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

nav ul li a{
    font-size: 1.2rem;
    color: var(--white);
}

nav ul li a:hover{
    text-decoration: line-through;
}

nav li:last-child a{
    color: black;
    background-color: var(--white);
    padding: 1.25rem 1.875rem;
    font-family: 'Fraunces', serif;
    border-radius: 40px;
    font-size: .9rem;
    transition: all ease .2s;
}

nav li:last-child a:hover{
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.page1 h1{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--white);
    text-align: center;
    margin-top: 6rem;
    letter-spacing: .5rem;
    font-size: 4rem;
}

.page1>img{
    position:absolute;
    top:52.5%;
    left:50%;
    transform:translate(-50%,-50%);
}


.box1,.box2{
    display: flex;
    width: 100%;
    height: 76vh;
 }


.tbox{
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding-inline: 9rem;
    gap: 2.5rem;
}
.tbox>*{
    width: 100%;
}

.tbox h2{
    font-family:  'Fraunces', serif;
    font-weight: 900;
    font-size: 2.2rem;
}
.tbox h6{
    font-family:  'Fraunces', serif;
    font-weight: 700;
   font-size: .8rem;
   cursor: pointer;
}

.lm{
    width: fit-content;
}

.tbox span{
    height: 8px;
    position: relative;
    top: -7px;
    

    border-radius: 2px;
    opacity: .5;
    background-color: var(--prim-yellow);
    display: block;
}

.ibox1{
    width: 50%;
    background: url(assets/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover;
}
.ibox2{
    width: 50%;
    background: url(assets/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
}

.tbox p{
    color: var(--dark-gray-blue);
    word-spacing: .2rem;
    line-height: 1.5rem;
    font-size: 1rem;
}